<div class="col-md-4">
    <div class="anime-card"><img
        src="{{anime.poster}}"
        class="img img-responsive"
    />
    <div class="anime-title">{{anime.title}}</div>
    <div class="anime-position"><a>{{#times anime_rating}}
        <i class="fas fa-star"></i>
    {{/times}}</a></div>
<div class="anime-overview">
    <div class="anime-overview">
        <div class="row text-center">
            <div class="col-xs-4">
                <h3><a href="/anime/{{anime.id}}">See More Reviews</a></h3>
            </div>
            <div class="col-xs-4">
                <h3><a href="/dashboard/edit/{{id}}" class="edit-link">Edit Review</a></h3>
            </div>
        </div>
    </div>
</div>
</div>
</div>