
<section class="w-100">
    <h2 class="text-center display-4">@{{user.username}}'s Review Board</h2>
    <div class="container">
    <div class="post-list row">
        {{#each user.reviews as |review|}}
            <div class="col-md-4">
                <div class="anime-card"><img
                    src="{{anime.poster}}"
                    class="img img-responsive"
                  />
                  <div class="anime-title">{{anime.title}}</div>
                  <div class="anime-position"><a>{{#times anime_rating}}
                        <i class="fas fa-star"></i>
                      {{/times}}</a></div>
                  <div class="anime-overview">
                    <div class="anime-overview">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h3><a href="/anime/{{anime_id}}">See More Reviews</a></h3>
                            </div>
                        </div>
                    </div>
                  </div>  
            </div>
            </div>
        {{/each}}
    </div>
    </div>
</section>